html,body{
    padding: 0;
    margin: 0;

}
.mainFlex{
    display: flex;
    flex: 1;
    justify-content: center;
    
}
.inputStyle{
    margin-top: 3%;

}
.formStyle{
    margin-top: 3%;
   
}
.hidden{
    display: none;
}
.block{
    display: block;
}
